@import "mixins";
@import "fonts";

html, body{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
h1, h2, h3 ,h4 ,h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
button{
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    padding: 0;
}
input, textarea{
    outline: none;
    border: none;
}
img{
    display: inline-block;
}
address {
    font-style: normal;
}

