
/*Default font*/
$fontFamaly: "DINPro";

$minWidth: 320px;
$maxWidth: 2000;
$maxWidthContainer: 1840;

/*Colors*/
$white1: #fefefe;
$pink1: #ff6a9f;
$pink2: #cf578d;
$pink3: #fc6da9;
$blue: #8cc9e8;
$dark1: #171717;
$dark2: #242424;
$dark3: #272727;
$dark4: #2e2e2e;


@import "basic";


body{
    font-family: $fontFamaly, sans-serif;
    @include adaptiv-font(44, 20, 1);
    color: $dark1;
    height: 100vh;
}
img{
    display: inline-block;
}

.preload * {
    transition: none !important;
}
.container{
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 10px;
}
.cross{
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;

    &::before, &::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $dark3;
    }

    &::before{
        top: 48.5%;
        transform: rotate(45deg) translateY(-50%);
    }
    &::after{
        bottom: 48.5%;
        transform: rotate(-45deg) translateY(50%);
    }
}

.title {
    color: $dark2;
    @include adaptiv-font(54, 34, 1);
}

.btn--pink{
    position: relative;
    padding: min(45px, 6vh) min(70px, 10vw) min(45px, 6vh) min(175px, 22vw);
    background-color: $pink1;
    border-radius: 80px;

    .icon{
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: min(35px, 5vw);
        width: min(95px, 13vw);;
        height: min(95px, 13vw);;
        border-radius: 50%;
        background-color: $pink1;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 11px 11px 30px -20px #4e1930, inset -12px -12px 28px -18px rgba(255, 255, 255, 1), -1px -1px 2px rgba(#92395e, .72), 1px 1px 2px rgba(255, 255, 255, .6);
        
        &::before{
            content: "";
            width: min(85px, 12vw);
            height: min(85px, 12vw);
            border-radius: 50%;
            background-color: $dark1;    
            position: absolute;
            z-index: 2;
        }
        span{
            position: relative;
            font-family: "Gilroy", sans-serif;
            @include adaptiv-font(60, 30, 1);
            line-height: 100%;
            color: $white1;
            z-index: 3;
        }
        svg{
            position: relative;
            transform: rotate(180deg);
            z-index: 3;
        }
    }
    &>span {
        @include adaptiv-font(54, 34, 1);
    }
}

@import "header";
@import "footer";
